.part-one{
    width: 600px; height: ;
    background-color: #000;
    background-image: url(https://www.google.com/url?sa=i&url=http%3A%2F%2Fkenh14.vn%2Fhoi-gai-xinh-moi-17-tuoi-da-noi-tieng-ran-ran-toan-cuc-pham-hoc-duong-co-nguoi-duoc-bao-trung-ca-ngoi-voi-loat-my-tu-20190514233422968.chn&psig=AOvVaw08r_em4jIpNxTA2kfRy2ML&ust=1581494802806000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDE1LGFyecCFQAAAAAdAAAAABAD);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}